<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
 
    <servlet>
        <servlet-name>roomManagement</servlet-name>
        <servlet-class>controller.admin.roomManagement</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListManageBlogServlet</servlet-name>
        <servlet-class>controller.marketer.ListManageBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogServlet</servlet-name>
        <servlet-class>controller.marketer.AddBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>controller.marketer.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>controller.marketer.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>controller.marketer.ViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>controller.homepage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>roomManage</servlet-name>
        <servlet-class>controller.manager.roomManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomDelete</servlet-name>
        <servlet-class>controller.manager.roomDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomCreate</servlet-name>
        <servlet-class>controller.manager.roomCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomEdit</servlet-name>
        <servlet-class>controller.manager.roomEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
 

    <servlet-mapping>
        <servlet-name>ListManageBlogServlet</servlet-name>
        <url-pattern>/listmanageblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogServlet</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/viewcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>roomManage</servlet-name>
        <url-pattern>/roommanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomDelete</servlet-name>
        <url-pattern>/roomdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomCreate</servlet-name>
        <url-pattern>/roomcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomEdit</servlet-name>
        <url-pattern>/roomedit</url-pattern>
    </servlet-mapping>
</web-app>
