<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomManagement</servlet-name>
        <servlet-class>controller.admin.roomManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListManageBlogServlet</servlet-name>
        <servlet-class>controller.marketer.ListManageBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogServlet</servlet-name>
        <servlet-class>controller.marketer.AddBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>controller.marketer.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>controller.marketer.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>controller.marketer.ViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedbackServlet</servlet-name>
        <servlet-class>controller.marketer.ListFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>controller.homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomDelete</servlet-name>
        <servlet-class>controller.room.roomDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomCreate</servlet-name>
        <servlet-class>controller.room.roomCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomEdit</servlet-name>
        <servlet-class>controller.room.roomEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.dashboard.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accCreate</servlet-name>
        <servlet-class>controller.acc.accCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accDelete</servlet-name>
        <servlet-class>controller.acc.accDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accEdit</servlet-name>
        <servlet-class>controller.acc.accEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountManagement</servlet-name>
        <servlet-class>controller.acc.accountManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roommanagement</servlet-name>
        <servlet-class>controller.room.roomManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomDetail</servlet-name>
        <servlet-class>controller.room.roomDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomEditStatus</servlet-name>
        <servlet-class>controller.room.roomEditStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedback</servlet-name>
        <servlet-class>controller.SubmitFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackus</servlet-name>
        <servlet-class>controller.SubmitFeedbackus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoom</servlet-name>
        <servlet-class>controller.room.SearchRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogServlet</servlet-name>
        <servlet-class>controller.ListBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoomServlet</servlet-name>
        <servlet-class>controller.ViewRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogServlet</servlet-name>
        <servlet-class>controller.ViewBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <servlet-class>controller.marketer.EditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListManageFeedback</servlet-name>
        <servlet-class>controller.marketer.ListManageFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <servlet-class>controller.AddFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListOrder</servlet-name>
        <servlet-class>controller.ViewListOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDetailBooking</servlet-name>
        <servlet-class>controller.ListBookingForOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomForCus</servlet-name>
        <servlet-class>controller.ListRoomForCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>controller.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <servlet-class>controller.marketer.DeleteFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackForCusServlet</servlet-name>
        <servlet-class>controller.EditFeedbackForCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackForCusServlet</servlet-name>
        <servlet-class>controller.DeleteFeedbackForCusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListManageBlogServlet</servlet-name>
        <url-pattern>/listmanageblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogServlet</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/viewcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedbackServlet</servlet-name>
        <url-pattern>/listmanagerfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomDelete</servlet-name>
        <url-pattern>/roomdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomCreate</servlet-name>
        <url-pattern>/roomcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomEdit</servlet-name>
        <url-pattern>/roomedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accCreate</servlet-name>
        <url-pattern>/acccreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accDelete</servlet-name>
        <url-pattern>/accdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accEdit</servlet-name>
        <url-pattern>/accedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountManagement</servlet-name>
        <url-pattern>/accountmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roommanagement</servlet-name>
        <url-pattern>/roommanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomDetail</servlet-name>
        <url-pattern>/roomdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomEditStatus</servlet-name>
        <url-pattern>/roomeditstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedback</servlet-name>
        <url-pattern>/submitfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackus</servlet-name>
        <url-pattern>/submitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoom</servlet-name>
        <url-pattern>/roomsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogServlet</servlet-name>
        <url-pattern>/listblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomServlet</servlet-name>
        <url-pattern>/viewroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogServlet</servlet-name>
        <url-pattern>/viewblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <url-pattern>/editfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListManageFeedback</servlet-name>
        <url-pattern>/listmanagefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListOrder</servlet-name>
        <url-pattern>/viewlistorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDetailBooking</servlet-name>
        <url-pattern>/listdetailbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomForCus</servlet-name>
        <url-pattern>/listroomforcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/vieworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <url-pattern>/deletefb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackForCusServlet</servlet-name>
        <url-pattern>/editfeedbackforcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackForCusServlet</servlet-name>
        <url-pattern>/deletefeedbackforcus</url-pattern>
    </servlet-mapping>
</web-app>
